@font-face {
  font-family: "SEGA LOGO FONT";
  src: url("./SEGA.TTF");
}
.logo {
  font-family: "SEGA LOGO FONT";
  color: white;
}

.gradient-bg {
  background: linear-gradient(to right, rgb(33, 137, 228), rgb(49, 158, 242));
}
.card-columns {
  display: flex;
}
.card {
  width: 90%;
}
@media (min-width: 900px) {
  .card {
    transition: all 0.5s ease;
    cursor: pointer;
  }

  .card:hover {
    transform: scale(1.06);
    z-index: 1;
    box-shadow: 3px 5px 40px rgba(0, 0, 0, 0.6);
  }
}
