@font-face {
  font-family: "SEGA LOGO FONT";
  src: url("./SEGA.TTF");
}
.logo {
  font-family: "SEGA LOGO FONT";
  font-size: 3em;
  color: white;
}

.gradient-bg {
  background: linear-gradient(to right, rgb(5, 173, 162), rgb(0, 25, 148))
    no-repeat;
}

.card {
  transition: all 0.5s ease;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.06);
  z-index: 1;
  box-shadow: 3px 5px 40px rgba(0, 0, 0, 0.6);
}
